<!DOCTYPE html
<html>
	<head style="font-size:35px;">
  <meta name="viewport" content="width=device-width,user-scale=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

	<link href="group.css" type="text/css" rel="stylesheet"/> 
		<title>Enter your title here</title>
	</head>
	<body>
		<center>		
			<div id="header1" style="background-color:#ffffff;">
	            <span>
	                <b><</b>
	            </span>
	        OOAD 2016-(1)
	            <span1>
	                <b><li class="dao li1">
	                &nbsp;
					</li>               
					</b>
					</span1>	            
	        </div> 
			
			<div style="height:0.5rem;background-color:#e8e8e8">
			</div>
			
			<div class="div1">
			<font style="float:left;margin-left:10%;">小组名：</font>
			<input type="text" name="groupname" value="填写组名">
			</div>
						
			<div class="div1" style="background-color:#e8e8e8">
			<font style="float:left;margin-left:10%;">选择班级：</font>
			<select>
				<option value="2016(1)">2016-(1)</option>
				<option value="2016(2)">2016-(2)</option>
				<option value="2016(3)">2016-(3)</option>
				<option value="2016(4)">2016-(4)</option>
			</select>
			</div>
			
			<div class="div1">
			<font style="float:left;margin-left:10%;">添加成员：</font>
			</div>
			
				<div>
				<table>
				<tr>
				<!--学号、名字、课程名字-->
				<td><input name="stuname" type="checkbox" value="" />1111111111</td>
				<td>王二</td>
				<td class="fontgreen">J2EE</td>
				</tr>
				<tr>
				<td><input name="stuname" type="checkbox" value="" />1111111111</td>
				<td>王二</td>
				<td></td>
				</tr>
				
				</table>
				</div>
				
			<div style="height:3rem;background-color:#e8e8e8"></div>	
			
			<div class="header" style="background-color:#9ACD32;color:#ffffff">
		确认提交
	    <br/>
	</div>	
		</center>


	</body>
</html>
