<!DOCTYPE html>
<html>
<head style="font-size:35px;">
<meta name="viewport" content="width=device-width,user-scale=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<link href="details.css" type="text/css" rel="stylesheet"/> 
		<title>学生讨论课</title>
	</head>

<body>
<center>
<div id="header1">
	            <span>
	                <b><</b>
	            </span>
	       OOAD 2016-(1)
	            <span1>
	                <b><li class="dao li1">+
	                <ul class="sub sub1">
						<li class="main">代办</li>
						<li class="main">个人页</li>
						<li class="main">讨论课</li>
				    </ul>
					</li>               
					</b>
					</span1>	            
	        </div> 
</center>

<center>
<div style="width:80%">
<details>
<summary  id="sumbackgroundw" class="hide">讨论课信息</summary>
	
	<details>
	<summary id="sumbackgroundw-summary" style="background-color:#ffffff;"><font color="#9ACD32">第一轮</font></summary>
	<div  id="backcolor1">
	<span class="left">1</span>
		业务流程分析
	    <span class="right">></span>
	    <br/>
	</div>	
	<div  id="backcolor1">
	<span class="left">2</span>
		领域模型分析
	    <span class="right">></span>
	    <br/>
	</div>	
	</details>    
	
	<details>
	<summary id="sumbackgroundw-summary" style="background-color:#ffffff;"><font color="#9ACD32">第二轮</font></summary>
	<div  id="backcolor1">
	<span class="left">3</span>
		代码检查
	    <span class="right">></span>
	    <br/>
	</div>	
	<div  id="backcolor1">
	<span class="left">4</span>
		对象模型设计
	    <span class="right">></span>
	    <br/>
	</div>
	
	</details>    
</details>
</div>
</center>

<center>
<div style="width:80%">
<details>
<summary  id="sumbackgroundw">已报名讨论课</summary>
	<details>
	<summary id="sumbackgroundw-summary" style="background-color:#ffffff;"><font color="#9ACD32">第一轮</font></summary>
	<div  id="backcolor1">
	<!-----同上，但是日期动态是结束日期------------------------------->
	<span class="left">2018.4.1</span>
		业务流程分析
	    <span class="right">></span>
	    <br/>
	</div>	
	<div  id="backcolor1">
	<span class="left">2018.4.2</span>
		领域模型分析
	    <span class="right">></span>
	    <br/>
	</div>	
	</details>    
	
	<details>
	<summary id="sumbackgroundw-summary" style="background-color:#ffffff;"><font color="#9ACD32">第二轮</font></summary>
	<div  id="backcolor1">
	<span class="left">2018.4.3</span>
		代码检查
	    <span class="right">></span>
	    <br/>
	</div>	
	<div  id="backcolor1">
	<span class="left">2018.4.14</span>
		对象模型设计
	    <span class="right">></span>
	    <br/>
	</div>
	
	</details>    

</details>
</div>

</center>

</body>
</html>