<!DOCTYPE html>
<html>
<head style="font-size:35px;">
  <meta name="viewport" content="width=device-width,user-scale=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

		<link href="group.css" type="text/css" rel="stylesheet"/> 
		<title></title>
	</head>

<body>
<center>
<div id="header1">
	            <span>
	                <b>&nbsp;</b>
	            </span>
	        讨论课
	            <span1>
	                <b><li class="dao li1">+
	                <ul class="sub sub1">
						<li class="main">代办</li>
						<li class="main">个人页</li>
						<li class="main">讨论课</li>
				    </ul>
					</li>               
					</b>
					</span1>	            
	        </div> 
</center>

<center>
<div class="div1">
<!--是链接其他页面的超链接，从数据库中读取课程--->
<span>OOAD 2016(1)</span>
   <span class="right">></span>
</div>
<div class="div1">
<span>J2EE 2016</span>
   <span class="right">></span>
</div>
<div class="div1">
<span>软件工程 2016(2)</span>
   <span class="right">></span>
</div>
</center>

</body>
</html>